<div class="lesson-layout-tall-left-card-two-right-cards" data-lesson-layout="tall-left-card-two-right-cards">
  <div class="lesson-layout-slot lesson-layout-slot--tall">
    <slot name="left" />
  </div>
  <div class="lesson-layout-slot">
    <slot name="top-right" />
  </div>
  <div class="lesson-layout-slot">
    <slot name="bottom-right" />
  </div>
</div>
