<div class="lesson-two-column-support-layout" data-lesson-layout="two-column-teaching-with-support">
  <div class="lesson-two-column-support-main">
    <slot name="left" />
    <slot name="right" />
  </div>
  <div class="lesson-two-column-support-full">
    <slot name="support" />
  </div>
</div>
