<div class="lesson-layout-two-vertical-cards" data-lesson-layout="two-vertical-cards">
  <div class="lesson-layout-slot">
    <slot name="left" />
  </div>
  <div class="lesson-layout-slot">
    <slot name="right" />
  </div>
</div>
