<div class="lesson-layout-wide-top-card-two-bottom-cards" data-lesson-layout="wide-top-card-two-bottom-cards">
  <div class="lesson-layout-slot lesson-layout-slot--wide">
    <slot name="top" />
  </div>
  <div class="lesson-layout-slot">
    <slot name="bottom-left" />
  </div>
  <div class="lesson-layout-slot">
    <slot name="bottom-right" />
  </div>
</div>
